{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="container-fluid">
    <!-- hero image -->
    <div class="row">
        <div class="col px-0">
            <div id="hero-image"></div>
        </div>
    </div>

    <!-- announcement -->
    <div class="row my-4">
        <div class="col-3">
            <div class="announcement">
                <h4 class="logo-font my-1 text-left">Announcement</h4> <!-- will have CRUD functiomallity -->
            </div>
        </div>
        <div class="col-9">
            <div class="announcement text-left">
                <p>Free shipping on orders over $50</p>
            </div>
        </div>
    </div>

    <!-- collections on smaller screens -->
    <div class="row d-lg-none">
        <div class="dropdown col-12 d-lg-none">
            <a class="btn btn-secondary dropdown-toggle w-100 text-left bg-white text-dark border border-dark rounded-pill"
                href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                All
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Collection-1</a>
                <a class="dropdown-item" href="#">Collection-2</a>
                <a class="dropdown-item" href="#">Collection-3</a>
                <a class="dropdown-item" href="#">Collection-4</a>
                <a class="dropdown-item" href="#">Collection-5</a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Collections column -->
        <div class="col-12 col-md-3 d-none d-lg-block">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase">Collections</h3>
                </div>
            </div>
            <div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="#">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="#">Collection-1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="#">Collection-2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="#">Collection-3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="#">Collection-4</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- products column -->
        <div class="col-12 col-md-9">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-3 mt-3">
                    <!-- card -->
                    <div class="card h-100 border">
                        
                        <!-- {% if product.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %} -->
                        <a href="{% url 'product_detail' product.id %}">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">{{ product.price }}</p>
                                        <p class="small mt-1 mb-0">{{ product.category }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</section>

{% endblock %}

{% block postloadjs %}
<script>
    $('.dropdown-toggle').dropdown()
</script>
{% endblock %}