{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="container-fluid">
    <!-- hero image -->
    <div class="row">
        <div class="col px-0">
            <div id="hero-image"></div>
        </div>
    </div>

    <!-- announcement -->
    <div class="row my-4">
        <div class="col-3">
            <div class="announcement">
                <h4 class="logo-font my-1 text-left">Announcement</h4> <!-- will have CRUD functiomallity -->
            </div>
        </div>
        <div class="col-9">
            <div class="announcement text-left">
                <p>Free shipping on orders over $50</p>
            </div>
        </div>
    </div>

    <!-- collections on smaller screens -->
    <div class="row d-lg-none">
        <div class="dropdown col-12 d-lg-none">

            <a class="btn btn-secondary dropdown-toggle w-100 text-left bg-white text-dark border border-dark rounded-pill" 
                href="#" role="button" data-toggle="dropdown" aria-expanded="false" id="user-selection">
                Collections        
            </a>        

            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'home' %}?category=wolf_mjolnir,raven_mjolnir,cross,mammen_axe,axe_amulet,wolf_cross,thors_hammer,rings">All</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=wolf_mjolnir">Wolf Mjolnir</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=raven_mjolnir">Raven Mjolnir</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=cross">Cross</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=mammen_axe">Mammen Axe</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=axe_amulet">Axe Amulet</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=wolf_cross">Wolf Cross</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=thors_hammer">Thors Hammer</a>
                <a class="dropdown-item" href="{% url 'home' %}?category=rings">Rings</a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Collections list -->
        <div class="col-12 col-md-3 d-none d-lg-block">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase">Collections</h3>
                </div>
            </div>
            <div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=wolf_mjolnir,raven_mjolnir,cross,mammen_axe,axe_amulet,wolf_cross,thors_hammer,rings">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=wolf_mjolnir">Wolf Mjolnir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=raven_mjolnir">Raven Mjolnir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=cross">Cross</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=mammen_axe">Mammen Axe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=axe_amulet">Axe Amulet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=wolf_cross">Wolf Cross</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=thors_hammer">Thors Hammer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" href="{% url 'home' %}?category=rings">Rings</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Products list -->
        <div class="col-12 col-md-9">
            <!-- sort box -->
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>                           
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="#">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>


            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-3 mt-2">
                    <!-- card -->
                    <div class="card h-100 border-0">
                        {% if product.image %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                        <a href="{% url 'product_detail' product.id %}" class="card-link">
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                        </a>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'product_detail' product.id %}" class="card-link">
                                        <p class="lead mb-0 text-left font-weight-bold">{{ product.price }}</p>
                                    </a>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'home' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>    
    $(document).ready(function(){
        $('.dropdown-toggle').dropdown();

        $('.card').hover(
            function(){
                $(this).removeClass('border-0').addClass('border');
            },
            function(){
                $(this).removeClass('border').addClass('border-0');
            }
        );
        
        // code from CI walkthrough projekt
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var selectedVal = selector.val();

            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                window.location.replace(currentUrl);

            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                window.location.replace(currentUrl);
            }
        })
    });
</script>
{% endblock %}