{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<hr class="wide-devider">
<div class="container mb-2">
    <div class="row">
        <div class="col">           
            <h2 class="logo-font mb-4">Basket</h2>
            <hr>
        </div>
    </div>

    <!-- product details -->
    <div class="row flex-column flex-lg-row">
        <div class="col col-lg-8">
            {% if basket_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black text-center">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}                           
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 text-muted font-italic small">SKU: {{ item.product.sku }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-center">${{ item.product.price }}</p>
                        </td>
                        <!-- quantity input -->
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group text-center">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span class="icon-btn hvr-grow">
                                                    <i class="fa-solid fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control rounded-pill qty_input" type="number" name="quantity" value="{{ item.quantity }}"
                                            min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span class="icon-btn hvr-grow">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- update and remove -->
                            <a class="update-link text-info cursor"><small>Update</small></a>
                            <a class="remove-item text-danger float-right cursor" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-center">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p class="lead mb-5 text-center">Your bag is empty.</p>
            <a href="{% url 'home' %}" class="btn btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}

            <!-- shipping methods -->
            <div class="row mt-4">
                <div class="col shipping-form-wrapper">                 
                    <form method="post" action="{% url 'shipping_options'%}" id="shipping-form">
                    {% csrf_token %}
                    <div class="apply-coupon">
                        {{ shipping_form }}                            
                        <input type="submit" value="Choose" class="btn float-right ml-1">
                    </div>
                    </form>
                    {% if shipping %}
                    <p class="mt-1">Estimated Delivery: {{ shipping.estimated_delivery }}</p>
                    {% else %}  
                    <p class="mt-1">Estimated Delivery: {{ default_shipping.estimated_delivery }}</p>   
                    {% endif %}                      
                </div>
            </div>
        </div>     

        <!-- Checkout -->
        <div class="col col-lg-4 mt-3 mt-lg-0">            
            <div class="checkout-wrapper">
                <ul class="list-group">
                    <li class="list-group-item border-0 bg-light pt-4">
                        <h6><strong>Item(s) total: ${{ total|floatformat:2 }}</strong></h6>
                        <h6><strong>Shop discount: ${{ discount|floatformat:2 }}</strong></h6>
                        {% if shipping %}
                        <h6>Shipping: <span id="delivery">${{ shipping_cost|floatformat:2 }}</span></h6>
                        {% else %}
                        <h6>Shipping: <span id="delivery">${{ default_shipping_cost|floatformat:2 }}</span></h6>
                        {% endif %}
                        <h5 class="mt-4"><strong>Grand total: ${{ grand_total|floatformat:2 }}</strong></h5>                                               
                    </li>

                    <!-- apply coupon -->
                    <li class="list-group-item border-0 bg-light pt-4">
                        <h6><i class="fa-solid fa-tag fa-rotate-90 text-muted"></i> Apply shop coupon code</h6>
                        <form method="post" action="{% url 'apply_coupon' %}">
                            {% csrf_token %}
                            <div class="apply-coupon">
                                {{ apply_coupon_form }}                            
                                <input type="submit" value="Apply" class="btn float-right ml-1">
                            </div>
                        </form>
                    </li>

                    <!-- buttons -->
                    <li class="list-group-item border-0 bg-light pb-4 text-center">
                        <a href="{% url 'checkout' %}" class="btn rounded-pill px-5 basket-btn">
                            <span class="">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                        <a href="{% url 'home' %}" class="btn rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="">Keep Shopping</span>
                        </a>                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
// update basket items
$('.update-link').click(function(e) {
    var form = $(this).prev('.update-form');        
    form.submit();
});

// delete items from basket
$('.remove-item').click(function(e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];        
    var url = `/basket/remove/${itemId}/`;
    var data = {'csrfmiddlewaretoken': csrfToken};

    $.post(url, data)
     .done(function() {
         location.reload();
     });
});


// display shipping method chosen by user        
function setSelectedMethod(method) {
    sessionStorage.setItem('shippingMethod', method) 
};

$(document).ready(function() {       
function displayMethod() {  
    const selectedMethod = sessionStorage.getItem('shippingMethod');                                             
    const method = $('#id_shipping')                                      
    if (selectedMethod) {
        method.val(selectedMethod);
    }
};

$('#shipping-form').submit(function() {  
    const methodValue = $('#id_shipping').val()                     
    setSelectedMethod(methodValue)
});

displayMethod();

});
</script>
{% endblock %}