{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<hr class="wide-devider">
<main class="container mb-2">
    <div class="row">
        <div class="col">           
            <h2 class="logo-font mb-4" id="basket">Basket</h2>
            <hr>
        </div>
    </div>
    
    <!-- items in basket -->
    <div class="row flex-column flex-lg-row">
        <div class="col col-lg-8">
            {% if basket_items %}
            <!-- mobile screen layout -->
            <div class="d-block d-md-none">
                {% for item in basket_items %}
                <div class="row">
                    <div class="col-12 col-sm-6 mb-2">
                        {% include 'basket/includes/product-image.html' %}
                    </div>
                    <div class="col-12 col-sm-6 mb-2">
                        {% include 'basket/includes/product-info.html' %} 
                    </div>
                    <div class="col-12 col-sm-6">
                        <p class="my-0">Price: ${{ item.product.price }}</p>
                        <p><strong>Subtotal: ${{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                    </div>
                    <div class="col-12 col-sm-6">
                        {% include 'basket/includes/quantity-form.html' %}
                    </div>                    
                </div>
                <div class="row">
                    <div class="col"><hr></div>
                </div>
                {% endfor %}
            </div>

            <!-- full screen layout -->
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless" aria-labelledby="basket">
                    <thead class="text-black text-center">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% include 'basket/includes/product-image.html' %}                          
                        </td>
                        <td class="py-3">
                            {% include 'basket/includes/product-info.html' %} 
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-center">${{ item.product.price }}</p>
                        </td>                        
                        <td class="py-3 w-25">
                            {% include 'basket/includes/quantity-form.html' %}
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-center">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p class="lead mb-5 text-center">Your bag is empty.</p>
            <a href="{% url 'home' %}" class="btn btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}

            <!-- shipping methods -->
            <div class="row mt-4">
                <div class="col shipping-form-wrapper">                 
                    <form method="post" action="{% url 'shipping_options'%}" id="shipping-form">
                    {% csrf_token %}
                    <div class="apply-coupon">
                        {{ shipping_form }}                            
                        <input type="submit" value="Choose" class="btn float-right ml-1">
                    </div>
                    </form>
                    {% if shipping %}
                    <p class="mt-1">Estimated Delivery: {{ shipping.estimated_delivery }}</p>
                    {% else %}  
                    <p class="mt-1">Estimated Delivery: {{ default_shipping.estimated_delivery }}</p>   
                    {% endif %}                      
                </div>
            </div>
        </div>     

        <!-- checkout -->
        <section aria-label="checkout" class="col col-lg-4 mt-3 mt-lg-0">            
            <div class="checkout-wrapper">
                <ul class="list-group">
                    <li class="list-group-item border-0 bg-light pt-4">
                        <p>Item(s) total: ${{ total|floatformat:2 }}</p>
                        <p>Shop discount: ${{ discount|floatformat:2 }}</p>
                        {% if shipping %}
                        <p>Shipping: <span id="delivery">${{ shipping_cost|floatformat:2 }}</span></p>
                        {% else %}
                        <p>Shipping: <span id="delivery">${{ default_shipping_cost|floatformat:2 }}</span></p>
                        {% endif %}
                        <p class="mt-4 grand-total"><strong>Grand total: ${{ grand_total|floatformat:2 }}</strong></p>                                               
                    </li>

                    <!-- apply coupon -->
                    <li class="list-group-item border-0 bg-light pt-4">
                        <p><i class="fa-solid fa-tag fa-rotate-90 text-muted"></i> Apply shop coupon code</p>
                        <form method="post" action="{% url 'apply_coupon' %}">
                            {% csrf_token %}
                            <div class="apply-coupon">
                                {{ apply_coupon_form }}                            
                                <input type="submit" value="Apply" class="btn float-right ml-1">
                            </div>
                        </form>
                    </li>

                    <!-- buttons -->
                    <li class="list-group-item border-0 bg-light pb-4 text-center">
                        <a href="{% url 'checkout' %}" class="btn rounded-pill px-5 basket-btn">
                            <span class="">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                        <a href="{% url 'home' %}" class="btn rounded-0 btn-lg">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="">Keep Shopping</span>
                        </a>                        
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

<!-- Scroll to Top button -->
<div class="btt-button shadow-sm">    
    <button type="button" class="btn btn-light btt-dark border-dark btt-link">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </button>	
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script src="{% static 'basket/js/script.js' %}"></script>

<script>
// update basket items
$('.update-link').click(function(e) {
    var form = $(this).prev('.update-form');        
    form.submit();
});

// delete items from basket
$('.remove-item').click(function(e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];        
    var url = `/basket/remove/${itemId}/`;
    var data = {'csrfmiddlewaretoken': csrfToken};

    $.post(url, data)
     .done(function() {
         location.reload();
     });
});
</script>
{% endblock %}