@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Indie+Flower&family=Raleway:wght@300;400;600&display=swap');
/* font-family: 'Bad Script', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Raleway', sans-serif; */

html {
    height: 100%;
}

body {
    font-family: Raleway, sans-serif;
    color: #222222;
}

.logo {
    color: #800020;
    text-transform: uppercase;   
}

#hero-image {
    background: url('/media/shield-necklace.webp') no-repeat center center;
    background-size: cover;
    height: 300px;
}

/* from css-tricks.com */
.wide-devider {  
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);   
}

.product-price {
    font-size: 1.5rem;
}