@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Indie+Flower&family=Raleway:wght@300;400;600&display=swap');
/* font-family: 'Bad Script', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Raleway', sans-serif; */

html {
    height: 100%;
}

body {
    font-family: Raleway, sans-serif;
    color: #222222;
}

.logo {
    color: #800020;
}

